.logoImage {
  background-size: 260px;
  background-image: url(./../assets/images/header_image.png);
  width: 300px;
  height: 80%;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
}

.title {
  text-align: center;
  flex: 3;
}
