@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.headerContainer {
  display: flex;
  background-color: #ccc;
  height: 14vh;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.headerLogo {
  width: 50px;
  height: 50px;
  background-color: #333;
}

.headerTitle {
  margin-left: 30px;
}